<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATzix APIs - Talk with AI</title>
    <link rel="stylesheet" href="css/cbstyle.css">
</head>
<body>
    <div class="container">
        <div class="header">
           <div class="title">Zorvath - AI</div>
           <div class="subtitle">Version 1.1.8 | Powered by NexiteTeam</div>
        </div>
        <div class="chat-box" id="chatBox"></div>
    </div>
    <div class="input-box">
        <input type="text" id="userInput" placeholder="Ketik pesan..." onkeypress="handleEnter(event)">
        <button onclick="sendMessage()">➤</button>
    </div>
    <script src="js/script.js"></script>
</body>
</html>