<!DOCTYPE html>
<html lang="en">

<head>
    <!-- icon animated -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ATzix APIs is a website REST API free for everyone">
    <meta name="keywords" content="api, API, rest api, free api, web api, atzix API, API Integration, API Development, API Solutions, atzix, ATzix, rest api for bot whatsapp, rest api for bot discord, rest api free, rest api for all, rest api for everyone">
    <meta name="author" content="TeamNexite">
    <title>ATzix APIs - Free RestAPI Website</title>
    <link rel="icon" type="image/png" href="https://files.catbox.moe/nuffwy.png">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <img src="https://files.catbox.moe/ku0rb5.png" alt="NashTeam" width="100" height="100">
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/chatbot">
                    <i class="fas fa-robot"></i>
                    <span>Talk with AI</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Features
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-download"></i>
                    <span>Downloader & Media</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/download/tiktok?url=https://vt.tiktok.com/ZS67gq1NR/" target="_blank" >tiktok</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-search"></i>
                    <span>Search Browsing</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/search/stickerpack?query=tiger" target="_blank" >sticker pack</a>
                        <a class="collapse-item" target="_blank" href="/api/search/wallpaper?query=tiger" target="_blank" >wallpaper</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-gamepad"></i>
                    <span>Game</span>
                </a>
                <div id="collapseGame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/game/tebakhewan" target="_blank" >tebak hewan</a>
                        <a class="collapse-item" target="_blank" href="/api/game/tebakheroml" target="_blank" >tebak hero ML</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-star-and-crescent"></i>
                    <span>Islamic</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Islamic Api</h6>
                        <a class="collapse-item" target="_blank" href="/api/fitur?query=" target="_blank" >coming soon...</a>
                      </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSimi" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-robot"></i>
                    <span>Artifical Intelligence</span>
                </a>
                <div id="collapseSimi" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/ai/gpt?message=siapa presiden pertama Indonesia?" target="_blank" >GPT</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseprimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-fw fa-laptop"></i>
                    <span>Stalker</span>
                </a>
                <div id="collapseprimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/stalk/tiktok?username=mrbeast" target="_blank" >tiktok</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomimage" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-random"></i>
                    <span>Random Apis</span>
                </a>
                <div id="collapseRandomimage" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Random Apis</h6>
                        <a class="collapse-item" target="_blank" href="/api/fitur?query=" target="_blank" >coming soon...</a>
                    </div>
                </div>
                </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNsfw" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fas fa-exclamation-triangle"></i>
                    <span>Nsfw</span>
                </a>
                <div id="collapseNsfw" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
            <h6 class="collapse-header">NSFW Features</h6>
                        <a class="collapse-item" target="_blank" href="/api/fitur?query=" target="_blank" >coming soon...</a>
          </div>
        </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSticker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-smile"></i>
                    <span>Sticker & Canvas</span>
                </a>
                <div id="collapseSticker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <a class="collapse-item" target="_blank" href="/api/sticker/brat?text=diem wibu" target="_blank" >brat</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseImage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-fw fa-toolbox"></i>
                    <span>Tools</span>
                </a>
                <div id="collapseImage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tools Features</h6>
                        <a class="collapse-item" target="_blank" href="/api/fitur?query=" target="_blank" >Coming Soon...</a>
                    </div>
                </div>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://t.me/Edbertt_Nasky">
                    <i class="fab fa-fw fa-telegram-plane"></i>
                    <span>Telegram</span>
                </a>
                <a class="nav-link" href="https://wa.me/6287789484200">
                    <i class="fab fa-fw fa-whatsapp-square"></i>
                    <span>WhatsApp</span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-success badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  INFO CENTER
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">September 10, 2030</div>
                    <span style="font-size:12px;">entahlah</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">Januari 30, 2025</div>
                    <span style="font-size:14px;">Kelahiran Rest Api</span>
                  </div>
                </a>
              </div>
            </li>
            </ul>
  </nav>
                <!-- Sidebar -->

                    <!-- Container Fluid-->
                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                    <h3 style="margin-bottom: 0;"><i class="fas fa-ruler text-danger"></i>Atzix Api's</h3>
    
                    <div class="card-body mb-3">
                        <ol>
                            <li>Free rest api</li>
                            <li>Tanpa Apikey</li>
                            <li>Error chat owner</li>
                            <li>Rest api masih tahap pengembangan</li>
                        </ol>
                    </div>
                                    </div>
                                    <div class="col-auto">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Address</div>
                                            <div class="h5 mb-0 font-weight-bold"><span id="ip-address">Loading...</span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-solid fa-satellite-dish faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Baterai</div>
                                            <div class="h5 mb-0 font-weight-bold"><span id="battery-level">Loading...</span>% <br><span id="charging-status"></span></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-battery-full faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Pengguna Atzix Api: </div>
                                            <div class="h5 mb-0 font-weight-bold">29 User</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Total Donasi: </div>
                                            <div class="h5 mb-0 font-weight-bold">IDR.217 T</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar faa-wrench animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Row-->
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            "dilarang ngatur selain donatur"
                            <p>
                                <a href="https://wa.me/6287789484200" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fa fa-fw fa-wallet"></i>&nbsp;Chat Me</a>
                            </p>
                        </div>
                    </div>
                </div>
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart faa-flash animated"></i> by
                        <a href="https://github.com/TeamNexite" target="_blank" style="color: #fff;">Team Nexite</a>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
</body>

</html>
